h1 {
  text-align: center;
  position: relative;
  font-family: "Anta", sans-serif;
  font-size: 46px;
}
td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: "Anta", sans-serif;
  font-size: 70px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  position: relative;
  left: 50%;
  margin-left: -155px;
  top: 50px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

button {
  position: relative;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  padding: 15;
  margin: auto;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Anta", sans-serif;
}
button:hover {
  color: black;
  background-color: white;
}

.endgame {
  display: none;
  width: 200px;
  top: 235px;
  background-color: rgba(205, 133, 63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 2em;
}
